{% extends "userprofile/layout.html" %}
{% block content %}

<!DOCTYPE html>
<head>
	<!-- <meta charset="utf-8"> -->
	<title>MuShMe</title>
	<link href="{{ url_for('static',filename='css/bootstrap.css') }}" rel="stylesheet">
	<strong><link rel="stylesheet" href="{{url_for('static',filename='css/search.css')}}"></strong>
	<!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'> -->
</head>

<div class="container main-body">
	<div class="col-xs-10 sector-2">
		<h4 class="text-left"> Search for "{{entry}}" :</h4>
		<p class="text-right"> <i>returns {{ length }} results : </i> </p>
		<div class="result">
			<table class="table table-hover">
				<tbody>
						{% for song in search_song %}
						<tr>
							<td><a href="{{url_for('SONG.songPage',songid=song['songid'])}}"><img class="img-circle profilepic-medium " src="{{url_for('static',filename=song['art'])}}"></a></td>
							<td><a href="{{url_for('SONG.songPage',songid=song['songid'])}}"><h4>{{ song['title'] }} - {{song['album'] }}, {{song['genre']}}, {{song['publisher']}} </h4></a></td>
							<td>Song</td>					
						</tr>
						{% endfor %}

					
						{% for f in friends %}
						{%if f['profilepic']%}
						<tr>
						<td><a href="{{ url_for('userProfile',userid=f['userid']) }}"><img class="img-circle profilepic-medium" src="{{url_for('static',filename=f['profilepic'])}}"></a></td>
						{% else %}
						<td><a href="{{ url_for('userProfile',userid=f['userid']) }}"><img class="img-circle profilepic-medium" src="{{url_for('static',filename='img/ProfilePic/profile.png')}}"></a></td>
						{% endif %}
						<td><a href="{{ url_for('userProfile',userid=f['userid']) }}"><h4>{{ f['username'] }} - {{ f['name'] }} </h4></a></td><td>User</td>
						</tr>
						{% endfor %}
					
						{% for artists in search_artist %}
						<tr>
						<td><a href="{{ url_for('artistProfile',artistid=artists['artistid']) }}"><img class="img-circle profilepic-medium" src="{{url_for('static',filename='img/artist.jpg')}}"></a></td>
						<td><a href="{{ url_for('artistProfile',artistid=artists['artistid']) }}"><h4>{{ artists['artistname'] }}</h4></a></td><td>Artist</td>
						</tr>
						
						{% endfor %}
						{% for playlists in search_playlist %}
						<tr> 
						<td><a href="{{url_for('playlist.playlistPage',playlistid=playlists['pid'])}}"><img class="img-circle profilepic-medium" src="{{url_for('static',filename='img/playlist.jpg')}}"></a></td>
						<td><a href="{{url_for('playlist.playlistPage',playlistid=playlists['pid'])}}"><h4>{{ playlists['pname'] }} - {{playlists['username']}}, {{playlists['uname']}} </h4></a></td> <td>Playlist</td>
						</tr>
						<tr></tr>
						{% endfor %}
				</tbody>
				{% if length == 0 %}
				<tr><h4>Search did not produce any results !</h4></tr>
				{% endif %}

			</table>
		</div>
	</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../script/bootstrap.min.js"></script>

</body>
{% endblock %}