{% extends "userprofile/layout.html" %}
{% block content %}

<!DOCTYPE html>
<head>
	<!-- <meta charset="utf-8"> -->
	<title>MuShMe</title>
	<link href="{{ url_for('static',filename='css/bootstrap.css') }}" rel="stylesheet">
	<strong><link rel="stylesheet" href="{{url_for('static',filename='css/search.css')}}"></strong>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>

<div class="container main-body">
	<div class="col-xs-1 sector-1">
		
	</div>
	<div class="col-xs-10 sector-2">
		<h3 class="text-left"> Search for XYZ :</h3>
		<p class="text-right"> <i>returns {{ length }} results : </i> </p>
		<div class="result">
			<table class="table table-hover">
				<thead>
					<th></th>
					<th></th>
					<th></th>
				</thead>
				{% if clear == 0 %}
				<tbody>
					<div class="top-margin">
					{% for i in range(0,10) %}
					{% if song[i]!=NULL %}
					<tr><a href="#"><img class="img-circle profilepic-medium " src="../img/albumart.jpg"></a></tr>
					<tr><a href="#"><h4><b>{{ song[i] }}</b></h4></a></tr>
					<tr><h4>Song</h4></tr>
					{% endif %}
					{% endfor %}
					</div>
					{% for i in range(0,10) %}
					{% if friends[i]!=NULL %}
					<div class="spacing">
					<tr><a href="#"><img class="img-circle profilepic-medium" src="../img/artist.jpg"></a></tr>
					<tr><a href="#"><h4><b>{{ friends[i] }}</b></h4></a></tr>
					<tr><h4>User</h4></tr>
					{% endif %}
					{% endfor %}
					</div>
					{% for i in range(0,10) %}
					{% if artists[i]!=NULL %}
					<div class="spacing">
					<tr><a href="#"><img class="img-circle profilepic-medium" src="../img/profile.png"></a></tr>
					<tr><a href="#"><h4><b>{{ artists[i] }}</b></h4></a></tr>
					<tr><h4>Artist</h4></tr>
					{% endif %}
					{% endfor %}
					</div>
					{% for i in range(0,10) %}
					{% if playlists[i]!=NULL %}
					<div class="spacing">
					<tr><a href="#"><img class="img-circle profilepic-medium" src="../img/playlist.jpg"></a></tr>
					<tr><a href="#"><h4><b>{{ playlists[i][0] }}</b></h4></a></tr>
					<tr><h4>Playlist</h4></tr>
					{% endif %}
					{% endfor %}
					</div>
				</tbody>
				{% else %}
				<tr><a href="#"><h4><b>Search did not produce any results !</b></h4></a></tr>
				{% endif %}

			</table>
		</div>
	</div>
	<div class="col-xs-1 sector-3">
		
	</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../script/bootstrap.min.js"></script>

</body>
{% endblock %}