<!DOCTYPE html>
<head>
        <!-- <meta charset="utf-8"> -->
        <title>MuShMe</title>
        <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"> -->
        <link href="../css/bootstrap.min.css" rel="stylesheet">
        <link href="../css/ripples.css" rel="stylesheet">
        <link href="../css/material.css" rel="stylesheet">
        <!-- <link href="icons/icons-material-design.css" rel="stylesheet"> -->
        <!-- <link href="//fezvrasta.github.io/snackbarjs/dist/snackbar.min.css" rel="stylesheet"> -->
        <link href="../css/snackbar.min.css" rel="stylesheet">
        <strong><link rel="stylesheet" href="../css/style.css"></strong>
    </head>
<body>
<body>

<!-- NAV BAR -->
<div class="navbar navbar-default">
    <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="profile.html"><img class=" img-circle profilepic" src="../img/profile.png"  ></a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">USER_NAME</a></li>
            <li><a href="javascript:void(0)"> Playlist </a></li>
       </ul>
        <form class="navbar-form navbar-left">
            <input class="form-control col-lg-12" type="text" placeholder="Search Songs">
        </form>
        <ul class="nav navbar-nav">
                    <li><button class="btn btn-primary small" type="submit">Click Here</button></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="javascript:void(0)">Sign Out</a></li>
        </ul>
    </div>
</div>
<!-- NAVBAR ENDS HERE -->

<!-- sidebar -->
    <div class="col-lg-2" id="sidebar">
        <a class="navbar-brand col-lg-2" href="profile.html"><img class="img-rounded align-center sidebarpic" id="profilepic-sidebar" src="../img/profile.png"></a>
        <div id="sidebar-content">
        <a class="btn btn-primary btn-raised withripple" id="about" href="javascript:void(0)">About</a>
        </div>
        <div id="sidebar-consequtive">
        <a class="btn btn-primary btn-raised withripple" href="javascript:void(0)">Friends</a>
        </div>
        <div id="sidebar-consequtive">
        <a class="btn btn-primary btn-raised withripple" href="javascript:void(0)">More to come..</a>
        </div>
    </div>
<!-- Songs and Profile Highlights -->
        <div class="col-lg-10" id="Song-and-Profile">
            <div class="col-lg-6" id="songs">
                <h1> USER'S TOP SONGS </h1>
                <p> It has to be loaded from db </p>
            </div> 
            <div class="col-lg-6" id="playlist">
                <h1>USER'S PLAYISTS</h1>
                <p> It has to be loaded from db </p>
            </div>
        </div>
<!-- Comments/wall posts -->
        <div class="col-lg-10" id="comment">
            <h1>Comments on your profile will be shown here :</h1>
        </div>
<script src="../scripts/jquery-1.10.2.min.js"></script>
        <script src="../scripts/bootstrap.min.js"></script>
        <script>
            (function(){

                var $button = $("<div id='source-button' class='btn btn-primary btn-xs'>&lt; &gt;</div>").click(function(){
                    var index =  $('.bs-component').index( $(this).parent() );
                    console.log(index);
                    $.get(window.location.href, function(data){
                        var html = $(data).find('.bs-component').eq(index).html();
                        html = cleanSource(html);
                        $("#source-modal pre").text(html);
                        $("#source-modal").modal();
                    })

                });

                $('.bs-component [data-toggle="popover"]').popover();
                $('.bs-component [data-toggle="tooltip"]').tooltip();

                $(".bs-component").hover(function(){
                    $(this).append($button);
                    $button.show();
                }, function(){
                    $button.hide();
                });

                function cleanSource(html) {
                    var lines = html.split(/\n/);

                    lines.shift();
                    lines.splice(-1, 1);

                    var indentSize = lines[0].length - lines[0].trim().length,
                        re = new RegExp(" {" + indentSize + "}");

                    lines = lines.map(function(line){
                        if (line.match(re)) {
                            line = line.substring(indentSize);
                        }

                        return line;
                    });

                    lines = lines.join("\n");

                    return lines;
                }

                $(".icons-material .icon").each(function() {
                    $(this).after("<br><br><code>" + $(this).attr("class").replace("icon ", "") + "</code>");
                });

            })();

        </script>
        <script src="../scripts/ripples.js"></script>
        <script src="../scripts/material.js"></script>
        <script src="../scripts/snackbar.min.js"></script>


        <script src="../scripts/jquery.nouislider.min.js"></script>
        <script>
            $(function() {
                $(".slider").noUiSlider({
                    start: 40,
                    connect: "lower",
                    range: {
                        min: 0,
                        max: 100
                    }
                });
            });
        </script>
</body>