{% extends "userprofile/layout.html" %}
{% block content %}
		
<div class="container main-body">
	<div class="col-xs-3 sector-1">
		<div class="profilepic-area" >
			<a class="profilepic-large" href="#"><img class="img-rounded profilepic-large" src="{{url_for('static',filename='img/artist.jpg')}}"></a>
		</div>
		<div class="col-xs-12">
			<h1></h1>
			<table class="table table-hover">
				<thead>
					<th></th>
					<th></th>
				</thead>
			</table>
		</div>
	</div>
	<div class="col-xs-6 sector-2">
		<div class="About-us">
			<h2 class="text-center"> About : </h2>
			<dl class="dl-horizontal">
				{% for a in artists %}
				<dt> <h3> <b>Artist Name:</b></h3></dt>
				<dd><h3> {{a['name']}}</h3></dd> 
				
				<dt> <h3> <b>Begin date:</b></h3></dt>
				<dd><h3> {{a['begin']}}</h3></dd> 
				<dt> <h3> <b>end date:</b></h3></dt>
				<dd><h3> {{a['end']}}</h3></dd> 
				{% endfor %}
			</dl>
		</div>
	</div>
		<div class="col-xs-3 sector-3">
		<div class="songs-section">
			<h2>Songs:</h2>
			<table class="table table-hover">
				<thead>
					<th></th>
					<th></th>
				</thead>
				<tbody>
					{% for song in songs %}
					<tr><a href="#"><img class="img-circle profilepic-small playlists" src="{{url_for('static',filename='img/albumart.jpg')}}"></a></tr>
					<tr><a href="#"><h3><b>{{ song['songname'] }}</b></h3></a></tr>
					{%endfor%}
				</tbody>
			</table>
		</div>
		</div>
	</div>
</div>
{% endblock %}
