{% extends "layout.html" %}
{% block content %}
		

	{% if session.signed_up == True %}
		<h2> Thank You for signing up</h2>
	{% else %}
			<h2>SignUp</h2>
			{% for message in get_flashed_messages() %}
				<div class="flash">{{ message }}</div>
			{% endfor %}
			{% for message in form.username.errors %}
			  <div class="flash">{{ message }}</div>
			{% endfor %}
			{% for message in form.password.errors %}
			  <div class="flash">{{ message }}</div>
			{% endfor %}
			{% for message in form.accept_tos.errors %}
			  <div class="flash">{{ message }}</div>
			{% endfor %}
		
		<form action=" {{ url_for('fillform') }} " method=post>
			{{ form.hidden_tag() }}

			{{ form.username.label }}
			{{ form.username }}

			{{ form.email.label }}
			{{ form.email }}

			{{ form.password.label }}
			{{ form.password }}

			{{ form.confirm.label }}
			{{ form.confirm }}

			{{ form.accept_tos }}
			{{ form.accept_tos.label }}
			

			{{ form.submit }}
		
		</form>
	{% endif %}
{% endblock %}
			
