<!DOCTYPE html>
<head>
        <!-- <meta charset="utf-8"> -->
        <title>MuShMe-Error</title>
        <strong><link rel="stylesheet" href="{{url_for('static',filename='error.css')}}"></strong>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="header">
	<a href="javascript:void(0)"><img src="{{url_for('static',filename='mushme.jpg')}}" ></a>
	</div>
	<div class="container">
	<div class="body">
		<h1 class="center">404 We're Sorry, The Web Page Was Not Found :(</h1>
	</div>
	<blockquote>
		<p class="line1"> In a late night drunken stupor, the webmaster probably coded in the incorrect URL link. <br/></p>
		<p class="line2">If you <a href="mailto:mushmemusic@gmail.com">Email Us</a> the link that got you here, we'll beat the webmaster and make him fix it, and send you the new URL, or let you know if the page still exists . 
		</p>
	</blockquote>
	</div>
</body>
