<!DOCTYPE html>
<html>
<head>
	<title>MuShMe - Welcome !</title>
	<link rel="icon" href="{{ url_for('static',filename='1411120925_audioguide_512px_GREY3.ico') }}" type="image/x-icon">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="{{ url_for('static',filename='style-main.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='pure-min.css') }}">
</head>
<body>
	<header>
		<div class="container">
			<a href="{{ url_for('home') }}">
				<li class="name">
                    <div class=""><img class="image1" src="{{ url_for('static',filename='mushme.jpg') }}"></div>
                    <div class="tagline" style="text-align:left"><h2>The Music</h2><h2>Sharing Circle</h2></div>
                </li>
            </a>
			<nav>
		      <ul class="menu">
		        <li><a href="{{ url_for('signup') }}">SignUp</a></li>
		        <li><a href="{{ url_for('login') }}">LogIn</a></li>
		      </ul>
		    </nav>
		</div>
	</header>
	<div class="content">
		{% block content %}
		{% endblock %}
	
	</div>
	<hr style="color:#fff; margin-left:6%; margin-right:6%" />
	<script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='jquery.nouislider.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='jquery-1.10.2.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='material.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='snackbar.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='ripples.js') }}"></script>
</body>
<footer style="text-align:left; margin-left:6%">Copyright © 2014, MuShMe team. All rights reserved.</footer>
</html>