<!DOCTYPE html>
<html>
<head>
  <title>MuShMe - Welcome !</title>
  <link rel="icon" href="{{ url_for('static',filename='1411120925_audioguide_512px_GREY3.ico') }}" type="image/x-icon">
  <!--<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />-->
  <link rel="stylesheet" href="{{ url_for('static',filename='style-main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='pure-min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='background.css') }}">
</head>
<body>
  <div class="container">
      
  <div class="content">  

  {% if session.logged_in == True %}
    <h2> You have not logged in. Please login for better results !</h2>
  {% else %}
    <!--<h2>LogIn</h2>-->
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}

    {% for message in form.email.errors %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
     
    {% for message in form.password.errors %}
      <div class="flash">{{ message }}</div>
    {% endfor %}

      <div class="form-box" id="login-box">
            
            <form class="form-signin" action="login" method="POST">
                  {{ form.hidden_tag() }}
              <ul>
                <li class="name">
                    <div class=""><img class="image1" src="{{ url_for('static',filename='mushme.jpg') }}"></div>
                    <div class="tagline" style="text-align:left"><h2>The Music</h2><h2>Sharing Circle</h2></div>
                </li>
                <li>
                    <div class="form-group">
                            {{ form.email }}
                    </div></li>
                <li class="text-password" ><div class="form-group">
                            {{ form.password }}
                    </div>

                    </li> 
                <li class="login-button" >
                <div class="footer">                                                               
                    {{ form.submit }}
                    
                    <span><a style="text-decoration:none; color: blue" href="{{ url_for('changepwd') }}">Forgot Password ?</a>&nbsp&nbsp<a style="text-decoration:none; color: blue" href="{{ url_for('signup') }}">Sign Up ?</a></span>
                </div></li>
            </form>
        </div>

    
  {% endif %}
  <script type="text/javascript">
    btn = document.getElementById('submit');
    //btn.className += 'pure-button pure-button-primary';
    btn.className += 'btn-primary';
    btn.style.width += "370px";
    c = document.getElementById('email');
    c.placeholder = "E-mail or Username";
    c.className += 'form-control'
    c = document.getElementById('password');
    c.placeholder = "Password";
    c.className += 'form-control'
  </script>

</div>
  
  <script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='jquery.nouislider.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='jquery-1.10.2.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='material.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='snackbar.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='ripples.js') }}"></script>
  <!--<hr style="color:#fff; margin-left:6%; margin-right:6%; margin-top:50%" />
  <div class="page-footer" style="text-align:left; margin-left:6%">Copyright © 2014, MuShMe team. All rights reserved.
      <div class="footer-links">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
      </div>
  </div>-->
</body>

</html>