{% extends "userprofile/layout.html" %}
{% block content %}

<div class="container main-body">
	<div class="col-xs-3 sector-1">
		<div class="profilepic-area" >
			<a class="profilepic-large" href="#"><img class="img-rounded profilepic-large" src="{{url_for('static',filename='img/profile.png')}}"></a>
		</div>
		<div class="col-xs-12">
			<h1>Friends: </h1>
			<table class="table table-hover">
				<thead>
					<th></th>
					<th></th>
				</thead>
				<tbody>
					{% for i in range(0,5) %}
					{% if friend[i]!=NULL %}
					<tr><a href="#"><img class="img-circle profilepic-small playlists" src="{{url_for('static',filename='img/profile.png')}}"></a></tr>
					<tr><a href="#"><h3><b> {{ friend[i] }}</b></h3></a></tr>
					{% if userid != session['User_id'] %}
						<button type="button" class="btn btn-primary button-center">Send Request</button>
					{% endif %}
					{% endif %}
					{% endfor %}
					{% if friend[0] == NULL %}
					<tr><a href="#"><h3><b>Add New Friends to view them</b></h3></a></tr>
					{% endif %}
					
				</tbody>
			</table>
			<!-- Apply some logic to check if the user is already a friend and then show this button -->
		</div>
	</div>
	<div class="col-xs-6 sector-2">
		<div class="About-us">
			<h2 class="text-center"> About : </h2>
			<dl class="dl-horizontal">
				<dt> <h3> <b>Name:</b></h3></dt>
				<dd><h3>{{ session.Name[0] }}</h3></dd> 
				<dt> <h3> <b>Date of Birth:</b></h3></dt>
				<dd><h3>{{ session.dob[0] }}</h3></dd>
				<dd><h3><a href="#"> Recently added song </a></h3></dd> 
			</dl>
			<!-- Edit modal -->
			{% if userid == session['userid'] %}
			<a  class="btn btn-default submit" onclick="launch_modal('useredit');">Edit</a>
			
			<div class="modal fade bs-example-modal-lg" id="useredit" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content edit-modal">
						<form role="form" class="center" method='post' name="editForm" action="{{ url_for('editName', userid=session['userid']) }}">
							<div class="form-group spacing">
								{{ form3.name(placeholder='Name',class_='form-control') }}
							</div>
							<div class="form-group spacing">
								{{ form3.dob(placeholder='Date Of Birth',class_='form-control') }}
							</div>
							<div class="form-group spacing">
								{{ form3.pic(placeholder='Upload Picture',class_='form-control') }}
							</div>

							<!--<div class="form-group">
								<input type="file" id="album-art">
								<p class="help-block">Upload picture</p>
							</div>-->
							<div class="modal-footer">
							<input href="{{ url_for('userProfile', userid=session['userid']) }}" type="submit" class="btn btn-default" data-dismiss="modal" value='Close'>
							<input href="{{ url_for('editName', userid=session['userid']) }}" class="btn btn-primary" type='submit' name='btn' value='Save Changes' method="POST">
						</div>
						</form>
						

					</div>
				</div>
			</div>
			{% endif %}


		</div>
		<div class="comm-recom">
			<form method="POST" action="{{ url_for('comment', rcvrid=userid, senderid=session['userid']) }}" >
				{{ form4.hidden_tag() }}
				{{ form4.comment(placeholder="Write Something....", class_="form-control",rows=4) }}
				<input class="btn btn-default submit" type='submit' name='btn' value='Submit'>
			</form>
			
		</div>
		<div class="comments">
			{% for i in range(0,5) %}
			{% if comment[i]!=NULL %}
			<blockquote>
				<p>{{ comment[i] }}</p>
				<footer><a href="#"><cite title="Username">{{ user[i] }}</cite></a></footer>
				<!-- Report Add modal -->
				<a href="javascript:void(null);" class="btn btn-danger submit" onclick="launch_modal('report');">Report</a>
				<div class="modal fade bs-example-modal-lg" id="report" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg">
						<div class="modal-content edit-modal">
							<form role="form" class="center" >
								<div class="radio">
									<label>
										{{ form5.hidden_tag() }}
										{% for subfield in form5.report.choices %}
											<tr>
												<td>{{ subfield }}</td></br>
											</tr>
										{% endfor %}
										<div class="modal-footer">
								<input href="{{ url_for('userProfile', userid=session['userid']) }}" type="submit" class="btn btn-default" data-dismiss="modal" value='Close'>
								<input href="{{ url_for('userProfile', userid=session['userid']) }}" class="btn btn-primary" type='submit' name='btn' value='Submit' method="POST">
							</div>
							</form>
							

						</div>
					</div>
				</div>
			</blockquote>
			{% endif %}
			{% endfor %}
			{% if comment[0]==NULL %}
				<p>No comments to show... Be the first to comment</p>
			{% endif %}

			<blockquote>
				<header><a href="#"><cite title="Username">Username</cite></a> Recommends :</header>
				<table class="table table-hover">
					<thead>
						<tr>
						<th></th>
						<th></th>
						<th></th>
						</tr>
					</thead>
					<tbody>
						<tr>
						<td><a href="#"><img class="img-circle profilepic-small playlists" src="../img/albumart.jpg"></a></td>
						<td><a href="#"><h4><b> Song name1</b></h4></a></td>
						<td><a href="#"><h4>Artist Name</h4></a></td>
						</tr>
						<tr>
						<td><a href="#"><img class="img-circle profilepic-small playlists" src="../img/albumart.jpg"></a></td>
						<td><a href="#"><h4><b> Song name1</b></h4></a></td>
						<td><a href="#"><h4>Artist Name</h4></a></td>
						</tr>
					</tbody>
				</table>
			</blockquote>
		</div>
	</div>
	<div class="col-xs-3 sector-3">
		<div class="playlist-section">
			<h2>Playlists:</h2>
			<table class="table table-hover">
				<thead>
					<th></th>
					<th></th>
				</thead>
				<tbody>
					{% for i in range(0,5) %}
					{% if playlist[i]!=NULL %}
					<tr><a href="#"><img class="img-circle profilepic-small playlists" src="{{url_for('static',filename='img/albumart.jpg')}}"></a></tr>
					<tr><a href="#"><h3><b>{{ playlist[i][0] }}</b></h3></a></tr>
					{% endif %}
					{% endfor %}
					
				</tbody>
			</table>
			<!-- Playlist Add modal -->
			<a href="javascript:void(null);" class="btn btn-success" onclick="launch_modal('addplaylist');">Add New+</a>
			<div class="modal fade bs-example-modal-lg" id="addplaylist" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content edit-modal">
						<form role="form" class="center" >
							<div class="form-group spacing">
								<input type="pname" class="form-control" id="Plalist-Name" placeholder="Playlist Name">
							</div>
							<h5> Select Song from DB, for this first we need to connect the db to the server</h5>
						</form>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary">Save changes</button>
						</div>

					</div>
				</div>
			</div>
		</div>
		<div class="songs-section">
			<h2>Songs:</h2>
			<table class="table table-hover">
				<thead>
					<th></th>
					<th></th>
				</thead>
				<tbody>
					{% for i in range(0,5) %}
					{% if song[i]!=NULL %}
					<tr><a href="#"><img class="img-circle profilepic-small playlists" src="{{ url_for('static',filename='img/albumart.jpg') }}"></a></tr>
					<tr><a href="#"><h3><b>{{ song[i] }}</b></h3></a></tr>
					{% endif %}
					{% endfor %}
					
				</tbody>
			</table>
			<!-- Songs Add modal -->
			<a href="javascript:void(null);" class="btn btn-success" onclick="launch_modal('addsong');">Add New+</a>
			<div class="modal fade bs-example-modal-lg" id="addsong" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content edit-modal">
						<form role="form" class="center" >
							<div class="form-group">
								<input type="file" id="album-art">
								<p class="help-block">Upload Song</p>
							</div>
							<div class="modal-footer">
								<input href="{{ url_for('userProfile', userid=session['userid']) }}" type="submit" class="btn btn-default" data-dismiss="modal" value='Close'>
								<input href="{{ url_for('uploadSong', userid=session['userid']) }}" class="btn btn-primary" type='submit' name='btn' value='Submit' method="POST">
							</div>
						</form>
						

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}