<!DOCTYPE html>
<head>
	<!--<meta charset="utf-8">-->
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<title>{{ session.Name[0] }}</title>
	<link href="{{url_for('static',filename='css/bootstrap.css')}}" rel="stylesheet">
	<strong><link href="{{url_for('static',filename='css/user.css')}}" rel="stylesheet"></strong>
	<!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'> -->
</head>
<body>
	<div class="navbar11">
		<nav class="navbar navbar-default" role="navigation">
			{% if session['profilepic'] %}
			<a class="profilepic" href="{{ url_for('userProfile', userid=session['userid']) }}"><img class=" img-circle profilepic" src="{{url_for('static',filename=session['profilepic'])}}"  ></a>
			{% else %}
			<a class="profilepic" href="{{ url_for('userProfile', userid=session['userid']) }}"><img class=" img-circle profilepic" src="{{url_for('static',filename='img/profile.png' )}}"  ></a>
			{% endif %}


			<ul class="nav navbar-nav">
				<li class="active"><a href="{{ url_for('userProfile', userid=session['userid']) }}">{{ session.UserName }}</a></li>
			</ul>
			<form class="navbar-form navbar-left" role="search" action="{{ url_for('search') }}" method='POST'>
				<div class="form-group">
					{{ form6.entry(placeholder='Search...', class_='form-control input-size') }}
				</div>
				<input class="btn btn-default" type='submit' name='btn' value='Search' >
			</form>
			<ul class="nav navbar-nav navbar-right">
				{% if session['privilege']==1 %}
				<li><a class="admin" href="url_for('admin.adminPage',userid=session['userid'],status='all')">Admin</a></li>
				{% endif %}
				<li><a class="logout" href="{{ url_for('index') }}">Logout</a></li>
			</ul>
		</div>
	</nav>
</div>

	{% block content %}
		{% endblock %}


<script>
	function launch_modal(id) {
     // Hide all modals using class if required.
     $('.modal').modal('hide');
     $('#'+id).modal('show');
 }
</script>
<script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
<script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>

</body>