<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>MuShMe</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
  <script src="{{url_for('static',filename='js/jquery.interactive_bg.js')}}"></script>
  <link rel="stylesheet" href="{{url_for('static',filename='css/style-main.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
  <script>
   $(document).ready(function(){
     $(".bg").interactive_bg();
     $("#btns").interactive_bg({
       strength: 10,
       scale: 1.15,
       contain: false,
       wrapContent: true
     });
   });

   $(window).resize(function() {
    $(".wrapper > .ibg-bg").css({
      width: $(window).outerWidth(),
      height: $(window).outerHeight()
    })
  })

 </script>
</head>
<body>
	<div class="wrapper bg" data-ibg-bg="{{url_for('static',filename='img/music.jpg')}}"></div>
  <div class="header back pushitup">
    <div class="signup">
      <h1>SignUp</h1>
    <form class="top" action="{{ url_for('signup') }}" method="POST">
      {{ form2.hidden_tag() }}
        <div class="form-group">
          {{ form2.name(placeholder='Name',class_='form-control') }}
        </div>
        <div class="form-group">
          {{ form2.email(placeholder='Email',class_='form-control') }}
        </div>
        <div class="form-group">
          {{ form2.username(placeholder='User Name',class_='form-control') }}
        </div>
        <div class="form-group">
          {{ form2.password(placeholder='Password',class_='form-control') }}
        </div>
        <div class="form-group">
          {{ form2.confirm(placeholder='Re-Password',class_='form-control') }}
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox">{{ form2.accept_tos }} I Accept Terms And Condition
          </label>
        </div>
      <div class="btns" id="btns">
     <input class="reload btn" type='submit' name='btn' value='signup'>
     </div>
    </form>
   </div>
  <div class="signin">
    <h1>Sign-In</h1>
      <form class="top" action="{{ url_for('login') }}" method="POST">
          {{ form1.hidden_tag() }}
          <div class="form-group">
            {{ form1.email(placeholder='Email',class_='form-control') }}
          </div>
          <div class="form-group">
            {{ form1.password(placeholder='Password',class_='form-control') }}
          </div>
          <div>
          <!--<a class="forgot" href="{{url_for('changepwd')}}">Forgot Password ?</a>-->
          </div>
    <div class="btns" id="btns">
     <input class="reload btn" type='submit' name='btn' value='login'>
    </div>
   </form>
  </div>
  <div class="foot">
    <a href="javascript:void(0)">About</a>
    <a href="javascritp:void(0)">Contact</a>
  </div>
</div>

<h1 class="footer"> MuShMe</h1>
<h2 class="footer"> MusicShareMeta</h2>
<script type="text/javascript" src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
</body>
</html>
