
.navbar11{
	width: 1300px;
	margin: 0 auto;
	padding-bottom: 5px;

}


.admin{
    color:white;
}
.profilepic{
	float: left;
	margin: 2px 5px 0px 3px;
}
img.profilepic{
  width:  45px;
  height: 40px;
}
.input-size{
	width: 400px;
}
.main-body{
	width: 1080px;
	margin: 7%;
	margin-top:60px;
	height: 100%;
	overflow: auto;
}
.sector-1{
	border:1px solid grey;
	background: none repeat scroll 0% 0% #FFF;
	border-width: 1px;
	border-style: solid;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	border-color: #E5E6E9 #DFE0E4 #D0D1D5;
	border-radius: 3px;
	margin-top: 0px;
	width:240px;
	float:left;
	padding-bottom: 40px;
}
.sector-2{
	height: 100%;
	border:2px solid grey;

}
.sector-3{
	height: 100%;
	border:2px solid grey;

}
img.profilepic-large{
	width: 150px;
	height: 150px;
	margin-top: 10px;
	margin-left: 35px;
}
a.logout{
	margin-right: 5px;
}
img.profilepic-small{
	width: 40px;
	height: 35px;
	float: left;
}
dd{
	margin: 8px auto;
}
a:hover{
	text-decoration: none;
	color:#6E727B;
}
.About-us{
	margin-bottom: 75px;
}
.playlist-section{
	height: 400px;
}
tr{
	margin-left: 5px;
}

.comments{
	margin-top: 25px;
}
.playlists{
	margin-right: 10px;
}
.button-center{
	margin-left: 45px;
}
.submit{
	margin-left: 400px;
	margin-top: 5px;
}
.placesector-3{
	margin-left: 5px;
}
.edit-modal{
	width: 800px;
}
.center{
	width: 400px;
	margin-left: 180px;
	margin-top: 50px;

}
.spacing{
	margin-top: 25px;
}