
body{
	background-color: #EEE;
}

.navbar11{
	width: 1100px;
	padding-bottom: 5px;
}

.navbar{
	background-color: rgba(51, 51, 51, 0.95);
	color: #FFF;
	position: fixed;
	padding-top: 0px;
	width:100%;
	height: 50px;
	z-index: 999;
	box-shadow: 2px 1px 2px 2px #000;
	border: medium none;
	border-radius: 0px;
	float: center;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: transparent;

}

.nav .navbar-nav{
	background-color: rgba(51, 51, 51, 0.95);
	height:50px;
}

.profilepic{
	float: left;
	margin: 2px 5px 0px 3px;
}
img.profilepic{
  width:  45px;
  height: 40px;
}
.input-size{
	width: 400px;
}

.main-body{    
	width: 85%;
	margin: 7%;
	height: 100%;
	overflow: auto;
	width: 1250px;
	margin-top:60px;

}
.sector-1{
	border:2px solid grey;
	height: 100%;
}
.sector-2{

}

.sector-3{
	height: 100%;
	border:2px solid grey;

}
.profilepic-area{
	height: 400px;
}
img.profilepic-large{
	width: 150px;
	height: 150px;
	margin-left: 40px;
	margin-top: 100px;
}
a.logout{
	margin-right: 5px;
}
img.profilepic-small{
	width: 40px;
	height: 35px;
	float: left;
}
img.profilepic-medium{
	width: 60px;
	height: 50px;
	float: left;
}
dd{
	margin: 8px auto;
}
a:hover{
	text-decoration: none;
	color:#6E727B;
}
.About-us{
	margin-bottom: 75px;
}
.playlist-section{
	height: 400px;
}
tr{
	margin-left: 5px;
}

tr:hover{
	background-color:white;	
}

td{
	height:20px;
}

.comments{
	margin-top: 25px;
}
.playlists{
	margin-right: 10px;
}
.button-center{
	margin-left: 45px;
}
.submit{
	margin-left: 400px;
	margin-top: 5px;
}
.placesector-3{
	margin-left: 5px;
}
.edit-modal{
	width: 800px;
}
.center{
	width: 400px;
	margin-left: 180px;
	margin-top: 50px;

}
.top-margin{
	margin-top: 25px;
}
.spacing{
	margin-top: 25px;
	border-top: 1px groove grey;
	padding-top: 15px;
}
.result{
	border-top: 1px groove grey;
}