{% extends "userprofile/layout.html" %}
{% block content %}
		
<div class="container main-body">
	<div class="col-xs-3 sector-1">
		<div class="profilepic-area" >
			<a class="profilepic-large" href="#"><img class="img-rounded profilepic-large" src="{{url_for('static',filename='img/albumart.jpg')}}"></a>
		</div>
		<div class="col-xs-12">
			<h1>Likes({{likes}}): </h1>
			<table class="table table-hover">
				<thead>
					<th></th>
					<th></th>
				</thead>
				<tbody>
				{% if likes > 0 %}
				{% for i in range(0,5) %}
					<tr><a href="#"><img class="img-circle profilepic-small playlists" src="{{url_for('static',filename='img/profile.png')}}"></a></tr>
					<tr><a href="#"><h3><b> User1</b></h3></a></tr>
				{% endfor %}
				{%else%}
					<tr>Be the first one to like this.</tr>
				{%endif%}
				</tbody>
			</table>
			<!-- if(already_liked)!=True -->
			<button type="button" class="btn btn-primary button-center">Like</button>
		</div>
	</div>
	<div class="col-xs-6 sector-2">
		<div class="About-us">
			<h2 class="text-center"> About : </h2>
			<dl class="dl-horizontal">
				<dt> <h3> <b>Song's Name:</b></h3></dt>
				<dd><h3> {{data['song_name']}}</h3></dd> 
				<dt> <h3> <b>Genre:</b></h3></dt>
				<dd><h3>{{data['genre']}}</h3></dd>
				<dt> <h3> <b>Publisher:</b></h3></dt>
				<dd><h3>{{data['publisher']}}</h3></dd>
				<dt> <h3> <b>Year:</b></h3></dt>
				<dd><h3> Song's Year</h3></dd> 			
				<dt> <h3> <b>Album:</b></h3></dt>
				<dd><h3><a href="#"> {{ data['song_album']}}  </a></h3></dd> 
			</dl>
		</div>
		<div class="comm-recom">
			<form >
				<textarea class="form-control" rows="4" placeholder="Leave a comment.."></textarea>
			</form>
			<button type="button" class="btn btn-default submit">Submit</button>
		</div>
		<div class="comments">
			<blockquote>
				<p>The comments or recommendations on user profile will be loaded from here onwards ....</p>
				<footer><a href="#"><cite title="Username">Username</cite></a></footer>
				<a href="#"><p class="text-right">Report</p></a>
			</blockquote>

			<blockquote>
				<p>The comments or recommendations on user profile will be loaded from here onwards ....</p>
				<footer><a href="#"><cite title="Username">Username</cite></a></footer>
				<a href="#"><p class="text-right">Report</p></a>
			</blockquote>
		</div>
	</div>
	<div class="col-xs-3 sector-3">
		<div class="playlist-section">
			<h2>Artists</h2>
			<table class="table table-hover">
				<thead>
					<th></th>
					<th></th>
				</thead>
				<tbody>
					<tr><a href="#"><img class="img-circle profilepic-small playlists" src="{{url_for('static',filename='img/artist.jpg')}}"></a></tr>
					<tr><a href="#"><h3><b> Artist name1</b></h3></a></tr>
					<tr><a href="#"><img class="img-circle profilepic-small playlists" src="{{url_for('static',filename='img/artist.jpg')}}"></a></tr>
					<tr><a href="#"><h3><b> Artist name2</b></h3></a></tr>
					<tr><a href="#"><img class="img-circle profilepic-small playlists" src="{{url_for('static',filename='img/artist.jpg')}}"></a></tr>
					<tr><a href="#"><h3><b> Artist name3</b></h3></a></tr>
					<tr><a href="#"><img class="img-circle profilepic-small playlists" src="{{url_for('static',filename='img/artist.jpg')}}"></a></tr>
					<tr><a href="#"><h3><b> Artist name4</b></h3></a></tr>
					<tr><a href="#"><img class="img-circle profilepic-small playlists" src="{{url_for('static',filename='img/artist.jpg')}}"></a></tr>
					<tr><a href="#"><h3><b> Artist name5</b></h3></a></tr>
					
				</tbody>
			</table>
		</div>
		<div class="songs-section">
			<h2>Songs in this Album:</h2>
			<table class="table table-hover">
				<thead>
					<th></th>
					<th></th>
				</thead>
				<tbody>
					<tr><a href="#"><img class="img-circle profilepic-small playlists" src="{{url_for('static',filename='img/albumart.jpg')}}"></a></tr>
					<tr><a href="#"><h3><b> Song name1</b></h3></a></tr>
					<tr><a href="#"><img class="img-circle profilepic-small playlists" src="{{url_for('static',filename='img/albumart.jpg')}}"></a></tr>
					<tr><a href="#"><h3><b> Song name2</b></h3></a></tr>
					<tr><a href="#"><img class="img-circle profilepic-small playlists" src="{{url_for('static',filename='img/albumart.jpg')}}"></a></tr>
					<tr><a href="#"><h3><b> Song name3</b></h3></a></tr>
					<tr><a href="#"><img class="img-circle profilepic-small playlists" src="{{url_for('static',filename='img/albumart.jpg')}}"></a></tr>
					<tr><a href="#"><h3><b> Song name4</b></h3></a></tr>
					<tr><a href="#"><img class="img-circle profilepic-small playlists" src="{{url_for('static',filename='img/albumart.jpg')}}"></a></tr>
					<tr><a href="#"><h3><b> Song name5</b></h3></a></tr>
					<tr><a href="#"><img class="img-circle profilepic-small playlists" src="{{url_for('static',filename='img/albumart.jpg')}}"></a></tr>
					<tr><a href="#"><h3><b> Song name6</b></h3></a></tr>
					<tr><a href="#"><img class="img-circle profilepic-small playlists" src="{{url_for('static',filename='img/albumart.jpg')}}"></a></tr>
					<tr><a href="#"><h3><b> Song name7</b></h3></a></tr>
					<tr><a href="#"><img class="img-circle profilepic-small playlists" src="{{url_for('static',filename='img/albumart.jpg')}}"></a></tr>
					<tr><a href="#"><h3><b> Song name8</b></h3></a></tr>
					<tr><a href="#"><img class="img-circle profilepic-small playlists" src="{{url_for('static',filename='img/albumart.jpg')}}"></a></tr>
					<tr><a href="#"><h3><b> Song name9</b></h3></a></tr>
					<tr><a href="#"><img class="img-circle profilepic-small playlists" src="{{url_for('static',filename='img/albumart.jpg')}}"></a></tr>
					<tr><a href="#"><h3><b> Song name10</b></h3></a></tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}