{% extends "userprofile/layout.html" %}
{% block content %}
<head>
	<!--<meta charset="utf-8">-->
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<title>MuShMe - {{ data['song_name'] }}</title>
	<link href="{{url_for('static',filename='css/bootstrap.css')}}" rel="stylesheet">
	<strong><link href="{{url_for('static',filename='css/user.css')}}" rel="stylesheet"></strong>
	<strong><link href="{{url_for('static',filename='css/layout.css')}}" rel="stylesheet"></strong>
	<!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'> -->
</head>
<div class="container main-body">
	<div class="col-xs-3 sector-1">
		<div class="profilepic-area" >
			<a class="profilepic-large" href="#"><img class="img-rounded profilepic-large" src="{{url_for('static',filename=art)}}"></a>
			<!-- Modal for the Recommending Songs -->
			<form action="{{ url_for('SONG.recommendSong', songid=songid) }}" method="POST">
			<a href="javascript:void(null);" class="btn btn-primary button-recommend spacing btn-xs" onload="launch_modal('recommendit');" onclick="launch_modal('recommendit');">Recommend this Song</a>

			<div class="modal fade bs-example-modal-sm" id="recommendit" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-sm">
					<div class="modal-content ">
						<div class="recommend-modal">
							<h4>Select Your Friend: </h4>
							<table>
								<thead>
									<tr>
										<td></td>
										<td></td>
									</tr>
								</thead>
								<tbody>
								{% for friend in friends %}
									<tr>
										<td>
											{% if friend['profilepic'][0]  != NULL %}
											<a class="profilepic" href="{{ url_for('userProfile', userid=friend['userid'])}}"><img class="img-circle profilepic-small playlists" src="{{ url_for('static', filename= friend['profilepic'])}}"  ></a>
											{% else %}
											<a class="profilepic" href="{{ url_for('userProfile', userid=friend['userid'])}}"><img class="img-circle profilepic-small playlists" src="{{ url_for('static',filename='img/ProfilePic/profile.png')}}"  ></a>
											{% endif %}
										</td>
										<td><a href="{{ url_for('userProfile', userid=friend['userid'])}}"><h3> {{friend['username'] }}</h3></a></td>
										<td><input type="Submit" class="btn btn-success" name="{{friend['userid'] }}" value="Recommend" id="recommend"></td>
									</tr>
								{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
				</div>
				</form>
		</div>
		<div class="col-xs-12">
			<h1>Likes({{likes}}): </h1>
			<table class="table table-hover">
				<thead>
					<tr>
						<td></td>
						<td></td>
					</tr>
				</thead>
				<tbody>
					{% if likes > 0 %}
					{% for liker in likers %}
					<tr>
					{% if liker['profilepic'][0]  != NULL %}
					<td><a href="#"><img class="img-circle profilepic-small playlists" src="{{url_for('static',filename=liker['profilepic'])}}"></a></td>
					{% else %}
					<td><a href="#"><img class="img-circle profilepic-small playlists" src="{{url_for('static',filename='img/ProfilePic/profile.png')}}"></a></td>
					{% endif %}
					<td><a href="{{url_for('userProfile',userid=liker['userid']) }}"><h4>{{ liker['username']}} </h4></a></td>
					</tr>
					{% endfor %}
					{%else%}
					<tr>Be the first one to like this.</tr>
					{%endif%}
				</tbody>
			</table>
			<form action="{{url_for('SONG.user_like', songid=songid)}}" method="POST">
				{% if liked == False %}
				<input type="submit" name="liketype" class="btn btn-primary button-like" value="Like">
				{% else %}
				<input type="submit" name="liketype" class="btn btn-danger button-like" value="Unlike">
				{% endif %}
			</form>
		</div>
	</div>




	<div class="col-xs-6 sector-2">
		<div class="About-us">
			<dl class="dl-horizontal">
				<dt class="shift-right">
					<h2 class="text-right"> About </h2>
				</dt>
				<dd><a  class="btn btn-default position1" onclick="launch_modal('addtoplaylist');">Add to Playlist</a>

					<div class="modal fade bs-example-modal-lg" id="addtoplaylist" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-lg">
							<div class="modal-content edit-modal">
								<h3 class="text-center">Add to Playlist</h4>
								<form role="form" class="center" method='POST' name="addtoplaylist" action="{{ url_for('SONG.playlistAdd', songid=songid, userid=session['userid']) }}">
									<table>
										<thead>
											<tr>
												<td></td>
											</tr>
										</thead>
										<tbody>
											{% for play in playlists %}
											<tr>
												<td><input class="btn btn-primary middle1" type='submit' name='btn' value='{{ play["playname"]}}'></td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
									<div class="form-group spacing">

									</div>
									<div class="modal-footer">
										<input type="submit" class="btn btn-default" data-dismiss="modal" value='Close'>
									</div>
								</form>


							</div>
						</div>
					</div>
				</dd>
				<dt> <h4> Song's Name:</h4></dt>
				<dd><h4> {{data['song_name']}}</h4></dd> 
				<dt> <h4> Genre:</h4></dt>
				<dd><h4>{{data['genre']}}</h4></dd>
				<dt> <h4> Publisher:</h4></dt>
				<dd><h4>{{data['publisher']}}</h4></dd>	
				<dt> <h4> Year:</h4></dt>
				<dd><h4>{{ data['year'] }}</h4></dd> 			
				<dt> <h4> Album:</h4></dt>
				<dd><h4><a href="#"> {{ data['song_album']}}  </a></h4></dd> 
			</dl>
		</div>
		<div class="comm-recom">
			<form action="{{url_for('SONG.addcomment', songid=songid)}}" method="post">
				{{ commentform.hidden_tag() }}
				{{commentform.comment(rows=4,class_="form-control", placeholder="Leave a comment..") | safe}}
				<input type="submit" class="btn btn-default submit" value="Submit"/>
			</form>
		</div>
		<div class="comments">
			{% for comment in comments %}
			<blockquote>
				<p>{{ comment['comment_text']}}</p>
				<footer><a href="{{url_for('userProfile', userid=comment['userid'])}}"><cite title="Username">{{ comment['username']}}</cite></a></footer>
				<a href="javascript:void(null);" class="btn btn-danger report1" onclick="launch_modal('report');">Report</a>
				<div class="modal fade bs-example-modal-lg" id="report" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg">
						<div class="modal-content edit-modal">
							<form role="form" class="center" method="POST" action="{{ url_for('SONG.reportsongcomment', songid=songid,commentid=comment['commentid']) }}">
								<div class="radio">									
									{{reportform.report()}}
								</div>
								{{ reportform.other(class="form-control", rows="4", placeholder="Write some description for your Complaint..") }}
								<div class="modal-footer">
									<input href="{{ url_for('SONG.songPage', songid=songid) }}" type="submit" class="btn btn-default" data-dismiss="modal" value='Close'>
									<input class="btn btn-primary" type='submit' name='btn' value='Submit'/>
								</div>
							</form>


						</div>
					</div>
				</div>
			</blockquote>
			{% endfor %}
		</div>
	</div>
	<div class="col-xs-3 sector-3">
		<div class="playlist-section">
			<h2>Artists:</h2>
			<table class="table table-hover">
				<thead>
					<tr>
						<td></td>
						<td></td>
					</tr>
				</thead>
				<tbody>
					{% for artist in artists %}
					<tr>
					<td><a href="#"><img class="img-circle profilepic-small playlists" src="{{url_for('static',filename=artist['pic'])}}"></a></td>
					<td><a href="{{ url_for('artist.artistPage', artistid=artist['id']) }}"><h4> {{ artist['name'] }}</h4></a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="songs-section">
			<h2>Songs in this Album:</h2>
			<table class="table table-hover">
				<thead>
					<tr>
						<td></td>
						<td></td>
					</tr>
				</thead>
				<tbody>
					{% for other in others %}
					<tr>
						<td><a href="#"><img class="img-circle profilepic-small playlists small-margin" src="{{url_for('static',filename=art)}}"></a></td>
						<td><a href="{{ url_for('SONG.songPage', songid=other['songid'])}}"><h4> {{ other['title'] }}</h4></a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}
