{% extends "userprofile/layout.html" %}
{% block content %}
<!DOCTYPE html>
<head>
  <!-- <meta charset="utf-8"> -->
  <title>MuShMe</title>
  <link href="{{url_for('static', filename=profilepic)}}" rel="stylesheet">
  <strong><link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css')}}"></strong>
  <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'> -->
</head>
<div class="container main-body">
  <div class="col-xs-3 sector-1">
    <div class="profilepic-area" >
    {% if profilepic[0] != NULL %}
      <div class="profilepic-large"><img class="img-rounded profilepic-large" src="{{url_for('static', filename=profilepic)}}"></div>
    {% else %}
      <div class="profilepic-large"><img class="img-rounded profilepic-large" src="{{url_for('static', filename='img/profile.png')}}"></div>
    {% endif %}
    </div>
    <div class="col-xs-12">
      <div class="spacing">
      <form action="{{ url_for('admin.adminPage',userid=session['userid'], status='pending') }}">
      <input type="submit" class="btn btn-default btn-lg btn-block" value="Pending reports">
      </form>
      </div>
      <div class="spacing">
      <form action="{{ url_for('admin.adminPage',userid=session['userid'], status='processed') }}">
      <input type="submit" class="btn btn-default btn-lg btn-block" value="Processed reports">
      </form>
      </div>
    </div>
  </div>
  <div class="col-xs-9 ">
    <table class="table table-hover">
      <thead>
        <tr>
          <th><h4><i>Ticket Number</i></h4></th>
          <th><h4><i>Complainant</i></h4></th>
          <th><h4><i>Defendant</i></h4></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for complaint in complaints %}
        <tr>
          <div class="spacing">
            <td>
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="{{ complaint['complainid'] }}">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{complaint['complainid']}}" aria-expanded="false" aria-controls="collapse{{complaint['complainid']}}">
                        Ticket #{{complaint['complainid']}}
                      </a>
                    </h4>
                  </div>
                  <div id="collapse{{complaint['complainid']}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="idcomplaint{{['complainid']}}">
                    <div class="panel-body">
                      <table>
                        <thead>
                          <tr>
                            <th></th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td><p>Comment </p></td>
                            <td>
                              <blockquote>
                                <p>{{ complaint['comment'] }}</p>
                                <footer><a href="#"><cite title="Username">{{ complaint['defendantname']}}</cite></a></footer>
                              </blockquote>
                            </td>
                          </tr>
                          <tr>
                            <td> <p >Type </p>
                            </td>
                            <td>
                              <p >{{ complaint['type']}}</p>
                            </td>
                          </tr>
                          <tr>
                            <td><p>Complainant's Remark </p></td>
                            <td><blockquote>
                              <p>{{ complaint['description'] }}</p>
                            </blockquote></td>
                          </tr>
                          <form action="{{url_for('admin.addremark', complaintid=complaint['complainid'])}}" method="POST">
                          <tr>
                            <td><b>Remove this Comment ?</b></td>
                            <td><div class="radio-inline">
                              {{ adminform.remove(name="inlinw") }}
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td><b>Remarks </b></td>
                          <td>
                            <div class="spacing">
                              {{ adminform.remarks(class_="form-control", rows=4, placeholder="Remarks..") }}
                              <input type="submit" class="btn btn-default submit" value='Submit'>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>

                  </div>
                </div>
              </div>

            </div>
          </td>
          <td><h5><b>{{ complaint['complaintee'] }}</b></h5></td>
          <td><h5><b>{{ complaint['defendantname'] }}</b></h5></td>
          <td></td>
        </div>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

</div>
{% endblock %}
