{% extends "userprofile/layout.html" %}
{% block content %}
<!DOCTYPE html>
<head>
	<!-- <meta charset="utf-8"> -->
	<title>MuShMe-{{ pname }}</title>
    <link href="{{ url_for('static',filename='css/bootstrap.css')}}" rel="stylesheet">
	<strong><link rel="stylesheet" href="{{ url_for('static',filename='css/userplaylist.css')}}"></strong>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<!--Navbar-->
<!--Mainbody-->
<div class="container main-body">
	<div class="col-xs-12">
		<h3 class="text-center"><b>{{ pname }}</b></h3>
		<a href="{{ url_for('userProfile', userid= puserdata['userid'])}}"><h4 class="text-right">{{ puserdata['username']}}</h4></a>
	</div>
	<div class="col-xs-12 songs-section">
		<h3 class="text-center songs-list"><b>Songs</b></h3>
		<div class="col-xs-1"></div>
		<div class="col-xs-11 songs-listing">
			<table class="table table-hover">
				<thead>
					<th></th>
					<th></th>
					<th></th>
				</thead>
				<tbody>
					{% for song in songs %}
						{% if song == songs[0] %}
							<div class="spacing">
						{% else %}
							<div class="spacing1">
						{% endif %}
						<tr>
							<div class="checkbox placing">
								<label>
									<input type="checkbox" id="blankCheckbox" value="option1">
								</label>
						</tr>
						<tr><a href="#"><img class="img-circle profilepic-medium 	" src="{{ url_for('static', filename=song['albumart'] )}}"></a></tr>
							<tr><a href="#"><h3><b> {{ song['songname'] }}</b></h3></a></tr>
							</div>
					{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="butt">
				<button type="button" class="btn btn-danger ">Delete Songs</button>
			</div>
		</div>
		<div class="col-xs-3 sector-1">
			<div class="col-xs-12">
				<h1>Likes on Playlist({{ likes }}): </h1>
				<table class="table table-hover">
					<thead>
						<th></th>
						<th></th>
					</thead>
					<tbody>
						{% if likes > 0 %}
						{% for liker in likers %}
							<tr><a href="#"><img class="img-circle profilepic-small playlists" src="{{url_for('static', filename="img/ProfilePic/liker['userid'].png")}}"></a></tr>
							<tr><a href="{{ url_for('userProfile', userid=liker['userid'])}}"><h3><b> {{ liker['username']}}</b></h3></a></tr>
						{% endfor %}
						{% else %}
							<tr><h3><b> Be the first one to like this.</b></h3></tr>
						{% endif %}
					</tbody>
				</table>
				<!-- hide it if already liked  -->
				<form action="{{url_for('playlist.user_like', playlistid=playlistid)}}">
				<input type="submit" class="btn btn-primary button-center" value="Like">
				</form>
			</div>
		</div>	
		<div class="col-xs-9 sector-2">
			<div class="comm-recom">
				<form method="POST" action="{{ url_for('playlist.addcommentplaylist', playlistid=playlistid)}}">
					{{commentform.hidden_tag()}}
					{{commentform.comment(rows=4,class_="form-control", placeholder="Leave a comment..") | safe}}
					<input type="Submit" value="Submit" class="btn btn-default submit"/>
				</form>
			</div>

			<div class="comments">
				{% for comment in Comments %}
				<blockquote>
					<p>{{ comment['comment'] }}</p>
					<footer><a href="{{url_for('userProfile', userid=comment['userid'])}}"><cite title="Username">{{ comment['username']}}</cite></a></footer>
					<a href="javascript:void(null);" class="btn btn-danger submit" onclick="launch_modal('report');">Report</a>
				<div class="modal fade bs-example-modal-lg" id="report" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg">
						<div class="modal-content edit-modal">
							<form role="form" class="center" method="POST" action="{{ url_for('playlist.reportcomment',commentid=comment['commentid'], playlistid=playlistid) }}">
								<div class="radio">
									<label>
										{{ reportform.report() }}
									</label>
									</div>
										{{ reportform.other(class="form-control", rows="4", placeholder="Write some description for your Complaint..") }}
								<div class="modal-footer">
								<input href="{{ url_for('playlist.playlistPage', playlistid=playlistid) }}" type="submit" class="btn btn-default" data-dismiss="modal" value='Close'>
								<input class="btn btn-primary" type='submit' name='btn' value='Submit'/>
							</div>
							</form>
							

						</div>
					</div>
				</div>
				</blockquote>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}