{% extends "userprofile/layout.html" %}
{% block content %}
<!DOCTYPE html>
<head>
	<!-- <meta charset="utf-8"> -->
	<title>MuShMe - {{ pname }}</title>
    <link href="{{ url_for('static',filename='css/bootstrap.css')}}" rel="stylesheet">
	<strong><link rel="stylesheet" href="{{ url_for('static',filename='css/userplaylist.css')}}"></strong>
	<!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'> -->
</head>
<!--Navbar-->
<!--Mainbody-->
<div class="container main-body">
	<div class="col-xs-12">
		<h3 class="text-center">{{ pname }}</h4>
		<a href="{{ url_for('userProfile', userid= puserdata['userid'])}}"><h4 class="text-right">{{ puserdata['username'] }}</h4></a>
	</div>
	<!-- Songs Section -->
	<form action="{{url_for('playlist.deletesongs', playlistid=playlistid)}}" method="POST">
	<div class="col-xs-12 songs-section songs-listing">
		<h3 class="text-center songs-list">Songs</h4>
		<div class="col-xs-1"></div>
		<div class="col-xs-11 ">
			<table class="table table-hover">
				
				<tbody>
					{% for song in songs %}
						{% if song == songs[0] %}
							<div class="spacing">
						{% else %}
							<div class="spacing1">
						{% endif %}
						<tr>
							<div class="checkbox placing">
								{% if session['userid'] == puserdata['userid'] %}
								<label>
									<input type="checkbox" name="songselect" id="blankCheckbox" value="{{ song['songid'] }}">
								</label>
								{% endif %}
						</tr>
						<tr><a href="#"><img class="img-circle profilepic-medium" src='{{ url_for("static", filename=song["albumart"] )}}'></a></tr>
							<tr><a href="{{url_for('SONG.songPage', songid=song['songid'])}}"><h4> {{ song['songname'] }}</h4></a></tr>
						</div>
					{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="butt">
			{% if session['userid'] == puserdata['userid'] %}
				<input type="submit" class="btn btn-danger dlt-songs" value="Delete Songs">
			{% endif %}
			</div>
		</div>
		</form>
		<div class="col-xs-3 sector-1">
			<div class="col-xs-12">
				<h1>Likes on Playlist({{ likes }}): </h1>
				<table class="table table-hover">
					<thead>
						<th></th>
						<th></th>
					</thead>
					<tbody>
						{% if likes > 0 %}
						{% for liker in likers %}
						{% if liker['profilepic'][0] != NULL %}
							<tr><img class="img-circle profilepic-small playlists" src=" {{ url_for('static',filename=liker['profilepic']) }}"></tr>
							{% else %}
							<tr><img class="img-circle profilepic-small playlists" src=" {{ url_for('static',filename='img/profile.png') }}"></tr>
							{%endif %}
							<tr><a href="{{ url_for('userProfile', userid=liker['userid'])}}"><h4> {{ liker['username']}}</h4></a></tr>
						{% endfor %}
						{% else %}
							<tr><h4> Be the first one to like this.</h4></tr>
						{% endif %}
					</tbody>
				</table>
				<!-- hide it if already liked  -->
				<form action="{{url_for('playlist.user_like', playlistid=playlistid)}}">
				<input type="submit" class="btn btn-primary button-like" value="Like">
				</form>
			</div>
			    <!-- Modal for the Recommend -->
            <form action="{{ url_for('playlist.recommendPlaylist', playlistid=playlistid) }}" method="POST">
			<a href="javascript:void(null);" class="btn btn-primary button-recommend spacing" onload="launch_modal('recommendit');" onclick="launch_modal('recommendit');">Recommend this Playlist</a>

			<div class="modal fade bs-example-modal-sm" id="recommendit" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-sm">
					<div class="modal-content ">
						<div class="recommend-modal">
							<h4>Select Your Friend: </h4>
							<table>
								<thead>
									<tr>
										<td></td>
										<td></td>
										<td></td>
									</tr>
								</thead>
								<tbody>
								{% for friend in friends %}
									<tr>
											{% if friend['profilepic'][0]  != NULL %}
											<td><a class="profilepic" href="{{ url_for('userProfile', userid=friend['userid'])}}"><img class="img-circle profilepic-small playlists" src="{{ url_for('static', filename= friend['profilepic'])}}"  ></a></td>
											{% else %}
											<td><a class="profilepic" href="{{ url_for('userProfile', userid=friend['userid'])}}"><img class="img-circle profilepic-small playlists" src="{{ url_for('static',filename='img/profilePic/profile.png')}}"  ></a></td>
											{% endif %}
										<td><a href="{{ url_for('userProfile', userid=friend['userid'])}}"><h4> {{friend['username'] }}</h4></a></td>
										<td><input type="Submit" class="btn btn-primary btn-xs button-center" name="{{friend['userid'] }}" value="Recommend" id="recommend"></td>
									</tr>
								{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
				</div>
				</form>


		</div>	


		<div class="col-xs-9 sector-2">
			<div class="comm-recom">
				<form method="POST" action="{{ url_for('playlist.addcommentplaylist', playlistid=playlistid)}}">
					{{commentform.hidden_tag()}}
					{{commentform.comment(rows=4,class_="form-control", placeholder="Leave a comment..") | safe}}
					<input type="Submit" value="Submit" class="btn btn-default submit"/>
				</form>
			</div>

			<div class="comments">
				{% for comment in Comments %}
				<blockquote>
					<p>{{ comment['comment'] }}</p>
					<footer><a href="{{url_for('userProfile', userid=comment['userid'])}}"><cite title="Username">{{ comment['username']}}</cite></a></footer>
					<a href="javascript:void(null);" class="btn btn-danger submit" onclick="launch_modal('report');">Report</a>
				<div class="modal fade bs-example-modal-lg" id="report" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg">
						<div class="modal-content edit-modal">
							<form role="form" class="center" method="POST" action="{{ url_for('playlist.reportcomment',commentid=comment['commentid'], playlistid=playlistid) }}">
								<div class="radio">
									<label>
										{{ reportform.report() }}
									</label>
									</div>
										{{ reportform.other(class="form-control", rows="4", placeholder="Write some description for your Complaint..") }}
								<div class="modal-footer">
								<input href="{{ url_for('playlist.playlistPage', playlistid=playlistid) }}" type="submit" class="btn btn-default" data-dismiss="modal" value='Close'>
								<input class="btn btn-primary" type='submit' name='btn' value='Submit'/>
							</div>
							</form>
							

						</div>
					</div>
				</div>
				</blockquote>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}