<!DOCTYPE html>
<head>
	<!-- <meta charset="utf-8"> -->
	<title>MuShMe-Playlist Name</title>
	<link href="../../../static/css/bootstrap.css" rel="stylesheet">
	<strong><link rel="stylesheet" href="../../../static/css/userplaylist.css"></strong>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<!--Navbar-->
<body>
	<div class="navbar11">
		<nav class="navbar navbar-default" role="navigation">
			<a class="profilepic" href="profile.html"><img class=" img-circle profilepic" src="../img/profile.png"  ></a>


			<ul class="nav navbar-nav">
				<li class="active"><a href="#">UserName</a></li>
			</ul>
			<form class="navbar-form navbar-left" role="search">
				<div class="form-group">
					<input type="text" class="form-control input-size" placeholder="Search">
				</div>
				<button type="submit" class="btn btn-default">Search</button>
			</form>
			<ul class="nav navbar-nav navbar-right">
				<li><a class="logout" href="#">Logout</a></li>
			</ul>
		</div>
	</nav>
</div>
<!--Mainbody-->
<div class="container main-body">
	<div class="col-xs-12">
		<h3 class="text-center"><b>Playlist's Name</b></h3>
		<a href="#"><h4 class="text-right">Playlist of User</h4></a>
	</div>
	<div class="col-xs-12 songs-section">
		<h3 class="text-center songs-list"><b>Songs</b></h3>
		<div class="col-xs-1"></div>
		<div class="col-xs-11 songs-listing">
			<table class="table table-hover">
				<thead>
					<th></th>
					<th></th>
					<th></th>
				</thead>
				<tbody>
					<div class="spacing">
					<tr><div class="checkbox placing">
							<label>
								<input type="checkbox" id="blankCheckbox" value="option1">
							</label>
						</tr>
						<tr><a href="#"><img class="img-circle profilepic-medium playlists" src="../img/albumart.jpg"></a></tr>
						<tr><a href="#"><h3><b> Song name1</b></h3></a></tr>
						</div>
						<div class="spacing1">
							<tr><div class="checkbox placing">
							<label>
								<input type="checkbox" id="blankCheckbox" value="option1">
							</label>
						</tr>
							<tr><a href="#"><img class="img-circle profilepic-medium playlists" src="../img/albumart.jpg"></a></tr>
							<tr><a href="#"><h3><b> Song name2</b></h3></a></tr>
							
						</div>
						<div class="spacing1">
							<tr><div class="checkbox placing">
							<label>
								<input type="checkbox" id="blankCheckbox" value="option1">
							</label>
						</tr>
							<tr><a href="#"><img class="img-circle profilepic-medium playlists" src="../img/albumart.jpg"></a></tr>
							<tr><a href="#"><h3><b> Song name3</b></h3></a></tr>
							
						</div>
						<div class="spacing1">
							<tr><div class="checkbox placing">
							<label>
								<input type="checkbox" id="blankCheckbox" value="option1">
							</label>
						</tr>
							<tr><a href="#"><img class="img-circle profilepic-medium playlists" src="../img/albumart.jpg"></a></tr>
							<tr><a href="#"><h3><b> Song name4</b></h3></a></tr>
							
						</div>
						<div class="spacing1">
							<tr><div class="checkbox placing">
							<label>
								<input type="checkbox" id="blankCheckbox" value="option1">
							</label>
						</tr>
							<tr><a href="#"><img class="img-circle profilepic-medium playlists" src="../img/albumart.jpg"></a></tr>
							<tr><a href="#"><h3><b> Song name5</b></h3></a></tr>
							
						</div>
						<div class="spacing1">
							<tr><div class="checkbox placing">
							<label>
								<input type="checkbox" id="blankCheckbox" value="option1">
							</label>
						</tr>
							<tr><a href="#"><img class="img-circle profilepic-medium playlists" src="../img/albumart.jpg"></a></tr>
							<tr><a href="#"><h3><b> Song name6</b></h3></a></tr>
							
						</div>
						<div class="spacing1">
							<tr><div class="checkbox placing">
							<label>
								<input type="checkbox" id="blankCheckbox" value="option1">
							</label>
						</tr>
							<tr><a href="#"><img class="img-circle profilepic-medium playlists" src="../img/albumart.jpg"></a></tr>
							<tr><a href="#"><h3><b> Song name7</b></h3></a></tr>
							
						</div>
						<div class="spacing1">
							<tr><div class="checkbox placing">
							<label>
								<input type="checkbox" id="blankCheckbox" value="option1">
							</label>
						</tr>
							<tr><a href="#"><img class="img-circle profilepic-medium playlists" src="../img/albumart.jpg"></a></tr>
							<tr><a href="#"><h3><b> Song name8</b></h3></a></tr>
							
						</div>
						<div class="spacing1">
							<tr><div class="checkbox placing">
							<label>
								<input type="checkbox" id="blankCheckbox" value="option1">
							</label>
						</tr>
							<tr><a href="#"><img class="img-circle profilepic-medium playlists" src="../img/albumart.jpg"></a></tr>
							<tr><a href="#"><h3><b> Song name9</b></h3></a></tr>
							
						</div>
						<div class="spacing1">
							<tr><div class="checkbox placing">
							<label>
								<input type="checkbox" id="blankCheckbox" value="option1">
							</label>
						</tr>
							<tr><a href="#"><img class="img-circle profilepic-medium playlists" src="../img/albumart.jpg"></a></tr>
							<tr><a href="#"><h3><b> Song name10</b></h3></a></tr>
							
						</div>
					</tbody>
				</table>
			</div>
			<div class="butt">
				<button type="button" class="btn btn-success ">Add More+</button>
				<button type="button" class="btn btn-danger ">Delete Songs</button>
			</div>
		</div>
		<div class="col-xs-3 sector-1">
			<div class="col-xs-12">
				<h1>Likes on Playlist(no. of like in this bracket): </h1>
				<table class="table table-hover">
					<thead>
						<th></th>
						<th></th>
					</thead>
					<tbody>
						<tr><a href="#"><img class="img-circle profilepic-small playlists" src="../img/profile.png"></a></tr>
						<tr><a href="#"><h3><b> User1</b></h3></a></tr>
						<tr><a href="#"><img class="img-circle profilepic-small playlists" src="../img/profile.png"></a></tr>
						<tr><a href="#"><h3><b> User2</b></h3></a></tr>
						<tr><a href="#"><img class="img-circle profilepic-small playlists" src="../img/profile.png"></a></tr>
						<tr><a href="#"><h3><b> User3</b></h3></a></tr>
						<tr><a href="#"><img class="img-circle profilepic-small playlists" src="../img/profile.png"></a></tr>
						<tr><a href="#"><h3><b> User4</b></h3></a></tr>
						<tr><a href="#"><img class="img-circle profilepic-small playlists" src="../img/profile.png"></a></tr>
						<tr><a href="#"><h3><b> User5</b></h3></a></tr>
					</tbody>
				</table>
				<!-- hide it if already liked  -->
				<button type="button" class="btn btn-primary button-center">Like</button>
			</div>
		</div>
		<div class="col-xs-9 sector-2">
			<div class="comm-recom">
				<form >
					<textarea class="form-control" rows="4" placeholder="Comments...."></textarea>
				</form>
				<button type="button" class="btn btn-default submit">Submit</button>
			</div>
			<div class="comments">
				<blockquote>
					<p>The comments or recommendations on user profile will be loaded from here onwards ....</p>
					<footer><a href="#"><cite title="Username">Username</cite></a></footer>
					<a href="#"><p class="text-right">Report</p></a>
				</blockquote>

				<blockquote>
					<p>The comments or recommendations on user profile will be loaded from here onwards ....</p>
					<footer><a href="#"><cite title="Username">Username</cite></a></footer>
					<a href="#"><p class="text-right">Report</p></a>
				</blockquote>
			</div>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="../script/bootstrap.min.js"></script>

</body>