body{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #444;
	background-color: #FFF;
	text-align: center;

}
.small{
  width:50px;
  height: 20px;
}

.medium{
  width: 200px;
  height: 70px;
}

header {
	background-color: #FFFDFD;
	width: 100%;
	height:4.5em;
	opacity: .9;
	margin-bottom: 10px;
}
header.container{
  width: 10%;
}

header h1.logo{
  text-decoration: none;
	float: left;
	font-size: 15px;
	color: #fff;
	margin-left: 6%;
}

header h1.logo:hover{
  	text-decoration: none;
    color: #d3d3d3;
}

div .home{
  padding: 10px 0 30px 0;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

h2 {
  font-size: 3em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: 0px;
}

ul {
  float: right;
  margin-top: 3%;
  margin-right: 7%;
  padding-top: -2%;
  padding-left: -1%;
  padding-bottom: -1%;
  padding-right: -5%;
}
 
.menu li {
  display: inline;
}

.menu li:hover{
  color:#d3d3d3;
}
 
.menu li a {
  color: #C42F27;
  font-family: 'Open Sans', sans-serif;
  margin-left: 3em;
  float:left;
  text-decoration: none;
  font-size:1.3em;
}

.menu li a:hover{
  color: #d3d3d3;
}
.flash {
  padding: 0px;
  width: 370px;
  color: red;
  background: none;
  margin-top: 30px;
  margin-bottom: -35px;
}
#button {
  background-color: #95EB4E;
  border: none;
  cursor: pointer;
  margin-top:2.5em;
  margin-left: 5em;
  width: 100px;
  height: 35px;
}

div.form{
  margin-top: 5%;
  padding-bottom: 10px;
  width:50%;
}

div.signin{
  margin:10px;
  margin-top: 5em;
  padding-bottom: 10px;
  width:50%;
}
.title{
  
  width:60%;
  text-align: right;
  
}
form{
  width: 70%;
}
.pure-control-group{
  margin-top: 3em;
}{
  margin-top: 3em;
  float:right;
}

div .home{
  margin-left: 6%;
  margin-right: 6%;
}

.form-box {
    margin: 90px auto 0px;
    background: none repeat scroll 0% 0% #FFF ;
}

.form-box .header {
    border-radius: 4px 4px 0px 0px;
    background: none repeat scroll 0% 0% #3D9970;
    box-shadow: 0px -3px 0px rgba(0, 0, 0, 0.2) inset;
    padding: 20px 10px;
    text-align: center;
    font-size: 26px;
    font-weight: 300;
}

.form-box .footer {
    padding: 0px 0px;
}

.form-box .footer {
    border-radius: 0px 0px 4px 4px;
}

.form-box .body > .form-group, .form-box .footer > .form-group {
    margin-top: 20px;
}

.form-box .body > .form-group > input, .form-box .footer > .form-group > input {
    border: medium none #FFF;
}

.form-control {
    border-radius: 0px !important;
    box-shadow: none;
}

.form-control {
    display: block;
    height: 25px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    vertical-align: middle;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 7px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

input, button, select, textarea {
    font-family: inherit;
}

.form-signin ul {
    
    position: relative;
    margin: 0px;
    padding: 50px;
    background: repeat scroll 0% 0% #FFF ;
    border-radius: 2px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    list-style-type: none;
    color: #333;
    border: medium none;
    image-rendering: optimizespeed;
    background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.88);
    float: center;
}

.form-signin ul input[type="password"]:focus {
    outline: 0px none;
    border: 1px solid #0077B5;
}

.form-signin ul input.password, .form-signin ul input[type="password"], .form-signin ul input.error[type="password"] {
    border-radius: 2px 0px 0px 2px;
    
}

.form-signin ul li{
  margin: 0px;
  padding: 0px;
  border: 0px none;
  font-family: inherit;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-size-adjust: inherit;
  font-stretch: inherit;
  -moz-font-feature-settings: inherit;
  -moz-font-language-override: inherit;
  font-size: 100%;
  vertical-align: baseline;
  margin-top: 0px;
  margin-bottom: 20px;
  margin: 0px 0px 20px 0px;
}

.form-signin .btn-primary.hover, .form-signin .btn-primary:hover, .form-signin .btn-primary.focus, .form-signin .btn-primary:focus {
    background-color: #2672AE;
    background-image: -moz-linear-gradient(center top , #2672AE 0%, #1E4F7E 100%);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}
.form-signin .btn-primary {
    font-weight: bold;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    margin: 0px 0px 20px;
    overflow: visible;
    text-decoration: none !important;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.35);
    border-radius: 3px;
    padding: 0px 15px;
    height: 34px;
    line-height: 32px;
    box-sizing: border-box;
    font-size: 16px;
    border-color: #1B5480;
    white-space: nowrap;
    display: inline-block;
}

.btn-primary {
    background: -moz-linear-gradient(center top , #73AEC9 0px, #73AEC9 1px, #338AB0 1px, #0571A6 100%) repeat scroll 0% 0% transparent;
    color: #FFF !important;
}

.form-signin ul{
  width: 370px;
  height:240px;
}

li #email{
  width: 93%;
  opacity: 1;
  margin-top: 40px;
}

li #password{
  width: 93%;
  opacity: 1;

}

.image1{
  width: 190px;
  height:70px;
  float: left;
  margin-right: 8px;
  margin-top: -15px;
  opacity: 1.9;
}

.form-box .name{
  margin-top: -60px;
}

.name h2{
  line-height: 5px;
  font-size: 25px;
  font-weight: none;
  text-align: left;
  margin-bottom: -10px;
  color: #db6767;
}

header .name{
  float: left;
  display: inline;
  line-height: 5px;
  font-size: 25px;
  font-weight: none;
  text-align: left;
  margin-bottom: -10px;
  color: #db6767;
  margin-left: 7%;
}

header .image1{
  margin-top: 10px;
}

.footer-links{
  text-align: right;
}